form {
  margin: 0 auto;
  width: -webkit-fill-available;

  background-color: #414066c9;
  border-radius: 10px;
  padding: 20px;
}

form input,
textarea {
  letter-spacing: 2px;
  //   font: 200 1em/1.1em 'Helvetica Neue', sans-serif;

  color: #fff;
  background-color: transparent;

  outline: none;
  border: none;

  display: block;
  margin: 0 auto;
  padding: 1em;
  width: 90%;
  max-width: 400px;
}

form textarea {
  height: 100px;
  // width: 10px;
}

form > div:focus {
  border-radius: 10px;
  background-color: #414066;
}

form > div:hover {
  border-radius: 10px;
  background-color: #414066;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}
